<div class="container">
  <div class="row">
    <div class="col-6 d-flex flex-column justify-content-center vh-100">
      <h1>Classify<br>your<br>image</h1>
      <div class="mt-5">
        <button class="primary mr-3" routerLink="/upload">Select Image</button>
        <button class="secondary" routerLink="/documentation">Documentation</button>
      </div>
    </div>
    <div class="col-6 vh-100">
      <div class="row h-100">
        <div class="col-2 d-flex align-items-center">
          <img src="assets/images/bird.png" alt="" style="margin-bottom: 4em">
        </div>
        <div class="col-2 d-flex align-items-center">
          <img src="assets/images/fuchs.jpg" alt="">
        </div>
        <div class="col-2 d-flex align-items-center">
          <img src="assets/images/panda.jpg" alt="" style="margin-bottom: 2em">
        </div>
        <div class="col-2 d-flex align-items-center">
          <img src="assets/images/loewe.jpg" alt="" style="margin-top: 3em">
        </div>
        <div class="col-2 d-flex align-items-center">
          <img src="assets/images/pinguin.jpg" alt="" style="margin-bottom: 6em">
        </div>
        <div class="col-2 d-flex align-items-center">
          <img src="assets/images/orka.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
